* {
    box-sizing: border-box;
}

.gridContainer{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /*grid-auto-rows */
}

.gridContainer:nth-child(1){
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

.gridContainer:nth-child(2){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gridContainer .rectangles{
    padding: 0.2em;
    color: #FFF;
    background: rgba(0, 95, 107, 0.8);
    border: 1px solid #EEE;
}